# Test Jupyter Notebook

This notebook tests various features that might cause conversion issues:
- Markdown cells
- Code cells
- Jupyter magics
- Outputs

In [1]:
# Standard imports
import pandas as pd
import numpy as np
from datetime import datetime

## Test Parameters

Setting up some test parameters

In [2]:
test_date = "2025-10-30"
test_mode = "test"
print(f"Test date: {test_date}")

Test date: 2025-10-30

In [3]:
# Create a simple DataFrame
data = {
    'name': ['Alice', 'Bob', 'Charlie'],
    'age': [25, 30, 35],
    'city': ['Sydney', 'Melbourne', 'Brisbane']
}
df = pd.DataFrame(data)

## Display Data

Let's look at our data

In [4]:
df.head()

     name  age      city
0   Alice   25    Sydney
1     Bob   30  Melbourne
2  Charlie   35  Brisbane

In [5]:
# Some processing
total_rows = len(df)
print("Processing complete!")
print(f"Total rows: {total_rows}")

Processing complete!
Total rows: 3

## Final Results

Summary of our test

In [6]:
result = {
    'status': 'success',
    'rows': total_rows,
    'date': test_date
}
result

{'status': 'success', 'rows': 3, 'date': '2025-10-30'}